*{margin: 0; padding: 0;}
header {
    background: #0E1212;
   
}

nav > li a{
    color:#fff; 
    text-decoration:none; 
    padding:5px 10px; 
    display:inline;
   

}

button{
    border: 2px solid #FB365A;
box-sizing: border-box;
border-radius: 50px;
}